<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supplyframe News</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/6ab3d69ed2.js" crossorigin="anonymous"></script>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">  
</head>
<body>
  <header class="header_nav">
    <a href="/" class="header_logo">Supplyframe_News</a>
  </header>
  <section class="news_container">
    <div class="landing_article" style="background-image: url(<%= provider_image %>);">
      <div class="landing_text" style="text-transform: capitalize; color: #e9f938;">
        <%- provider %>
      </div>
    </div>
    <div class="provider_menu">
      <a href="/provider/the-wall-street-journal" class="provider_container"><div class="provider_text">Wall Street Journal</div></a>
      <a href="/provider/reuters" class="provider_container"><div class="provider_text">Reuters</div></a>
      <a href="/provider/bbc-news" class="provider_container"><div class="provider_text">BBC</div></a>
      <a href="/provider/al-jazeera-english" class="provider_container"><div class="provider_text">Al Jazeera</div></a>
      <a href="/provider/bleacher-report" class="provider_container"><div class="provider_text">Bleacher Report</div></a>
      <a href="/provider/espn" class="provider_container"><div class="provider_text">ESPN</div></a>
      <a href="/provider/techcrunch" class="provider_container"><div class="provider_text">TechCrunch</div></a>
      <a href="/provider/wired" class="provider_container"><div class="provider_text">Wired</div></a>
    </div>
    <div class="news_wrapper">
      <div class="top_title" style="text-transform: capitalize"><%- provider %></div> 
      <div class="provider_news_container">
        <div class="provider_news">
          <% for (var i = 0; i < articles.length; i++) { %>
            <div class="top_article">
              <% if (i % 2 == 1) { %>
              <div class="top_img" style="background-image: url(<%= articles[i].urlToImage %>)"></div>
              <a class="top_even_text" href="/article/<%= i %>">
                <div class="black_bar"></div>
                <div class="top_date"><%- articles[i].source.name %></div>
                <div class="top_title"><%- articles[i].title.split(" - ")[0] %></div>
                <div class="top_source"><%- articles[i].author ? articles[i].author : "Andy Weir" %></div>
                <div class="top_description"><%- articles[i].description %></div>
              </a>
              <% } else { %>
                <a class="top_odd_text" href="/article/<%= i %>">
                  <div class="black_bar"></div>
                  <div class="top_date" style="text-align: right;"><%- articles[i].source.name %></div>
                  <div class="top_title" style="text-align: right;"><%- articles[i].title.split(" - ")[0] %></div>
                  <div class="top_source" style="text-align: right;"><%- articles[i].author ? articles[i].author : "Andy Weir" %></div>
                  <div class="top_description" style="text-align: right;"><%- articles[i].description %></div>
                </a>
                <div class="top_img" style="background-image: url(<%= articles[i].urlToImage %>)"></div>
              <% } %>
              </div>
          <% } %>
        </div>
      </div>
    </div>
    <footer>
      <a href="/" class="footer_logo">Supplyframe_News</a>
    </footer>
  </section>
</body>
<script type="text/javascript">
    window.addEventListener('scroll', (event) => {
    const header_nav = document.querySelector(".header_nav");
    if (window.scrollY > 60) 
    {
      header_nav.style.backgroundColor = "#1E1E1E";
      header_nav.style.transition = "background-color 0.25s ease-in";
    }
    else
    {
      header_nav.style.backgroundColor = "rgba(255, 255, 255, 0.0)";
      header_nav.style.transition = "background-color 0.25s ease-out";
    }
  });
  const main_articles =  document.querySelectorAll(".top_article");
  main_articles.forEach(article => {
    article.addEventListener('mouseover', () => {
      article.style.transform= "scale(1.01)";
      article.style.transition = "transform 0.25s ease-in";
    })
    article.addEventListener('mouseleave', () => {
      article.style.transform= "scale(1.00)";
      article.style.transition = "transform 0.25s ease-out";
    })
  }); 
</script>
</html>
