<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supplyframe News</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/6ab3d69ed2.js" crossorigin="anonymous"></script>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">  
</head>
<body>
  <header class="header_nav">
    <a href="/" class="header_logo">Supplyframe_News</a>
  </header>
  <section class="news_container">
    <a class="landing_article"  href="/article/11" style="background-image: url(<%= articles[11].urlToImage %>)">
      <div class="landing_text">
        <div class="landing_author"><%- articles[11].source.name ? articles[11].source.name : articles[11].author %></div>
        <div class="landing_title"><%- articles[11].title.split(" - ")[11] %></div>
        <div class="landing_date"><%- new Date(articles[11].publishedAt).toDateString() %></div>
      </div>
    </a>
    <div class="provider_menu">
      <a href="/provider/the-wall-street-journal" class="provider_container"><div class="provider_text">Wall Street Journal</div></a>
      <a href="/provider/reuters" class="provider_container"><div class="provider_text">Reuters</div></a>
      <a href="/provider/bbc-news" class="provider_container"><div class="provider_text">BBC</div></a>
      <a href="/provider/al-jazeera-english" class="provider_container"><div class="provider_text">Al Jazeera</div></a>
      <a href="/provider/bleacher-report" class="provider_container"><div class="provider_text">Bleacher Report</div></a>
      <a href="/provider/espn" class="provider_container"><div class="provider_text">ESPN</div></a>
      <a href="/provider/techcrunch" class="provider_container"><div class="provider_text">TechCrunch</div></a>
      <a href="/provider/wired" class="provider_container"><div class="provider_text">Wired</div></a>
    </div>
    <div class="news_wrapper">
      <div class="top_title">Top Stories</div> 
      <div class="news_container">
        <div class="top_news">
          <% for (var i = 12; i < 17; i++) { %>
            <div class="top_article">
              <% if (i % 2 == 1) { %>
              <div class="top_img" style="background-image: url(<%= articles[i].urlToImage %>)"></div>
              <a class="top_even_text" href="/article/<%= i %>">
                <div class="black_bar"></div>
                <div class="top_date"><%- articles[i].source.name %></div>
                <div class="top_title"><%- articles[i].title.split(" - ")[0] %></div>
                <div class="top_source"><%- articles[i].author ? articles[i].author.includes(",") ? articles[i].author.split(",")[0] + " et al.": articles[i].author : "Andy Weir"  %></div>
                <div class="top_description"><%- articles[i].description %></div>
              </a>
              <% } else { %>
              <a class="top_odd_text" href="/article/<%= i %>">
                <div class="black_bar"></div>
                <div class="top_date" style="text-align: right;"><%- articles[i].source.name %></div>
                <div class="top_title" style="text-align: right;"><%- articles[i].title.split(" - ")[0] %></div>
                <div class="top_source" style="text-align: right;"><%- articles[i].author ? articles[i].author.includes(",") ? articles[i].author.split(",")[0] + " et al.": articles[i].author : "Andy Weir"  %></div>
                <div class="top_description" style="text-align: right;"><%- articles[i].description %></div>
              </a>
              <div class="top_img" style="background-image: url(<%= articles[i].urlToImage %>)"></div>
              <% } %>
            </div>
          <% } %>
        </div>
        <div class="additional_news">
          <% for (var i = 17; i < 22; i++) { %>
            <div class="additional_article">
              <div class="black_bar"></div>
              <div class="additional_img" style="background-image: url(<%= articles[i].urlToImage %>)"></div>
              <a class="additional_text" href="/article/<%= i %>">
                <div class="additional_date"><%- articles[i].source.name %></div>
                <div class="additional_title"><%- articles[i].title.split(" - ")[0] %></div>
                <div class="additional_source"><%- articles[i].author ? articles[i].author.includes(",") ? articles[i].author.split(",")[0] + " et al.": articles[i].author : "Andy Weir"  %></div>
              </a>
            </div>
          <% } %>  
        </div>
      </div>
    </div>
    <nav class="pagination-container aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item <%= url ? '' : 'disabled' %>">
          <a class="page-link" href="/" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="/">1</a></li>
        <li class="page-item"><a class="page-link" href="/page/2">2</a></li>
        <li class="page-item <%= url === '/page/2' ? 'disabled' : '' %>">
          <a class="page-link" href="/page/2">Next</a>
        </li>
      </ul>
    </nav>
  </section>
</body>
<script type="text/javascript">
    window.addEventListener('scroll', (event) => {
    const header_nav = document.querySelector(".header_nav");
    if (window.scrollY > 60) 
    {
      header_nav.style.backgroundColor = "#1E1E1E";
      header_nav.style.transition = "background-color 0.25s ease-in";
    }
    else
    {
      header_nav.style.backgroundColor = "rgba(255, 255, 255, 0.0)";
      header_nav.style.transition = "background-color 0.25s ease-out";
    }
  }); 
  const main_articles =  document.querySelectorAll(".top_article");
  main_articles.forEach(article => {
    article.addEventListener('mouseover', () => {
      article.style.transform= "scale(1.01)";
      article.style.transition = "transform 0.25s ease-in";
    })
    article.addEventListener('mouseleave', () => {
      article.style.transform= "scale(1.00)";
      article.style.transition = "transform 0.25s ease-out";
    })
  }); 
  const additional_articles = document.querySelectorAll(".additional_article");
  additional_articles.forEach(article => {
    article.addEventListener('mouseover', () => {
      article.style.transform= "scale(1.01)";
      article.style.transition = "transform 0.25s ease-in";
    })
    article.addEventListener('mouseleave', () => {
      article.style.transform= "scale(1.00)";
      article.style.transition = "transform 0.25s ease-out";
    })
  }); 
</script>
</html>
